body {
    margin: auto;
    width: 100%;
    background-color: rgb(14, 102, 85);
    color: aliceblue;
}

h1 {
    height: 50px;
    margin-top: -8px;
    padding-top: 10px;
    text-align: center;
    background-color: rgb(46, 64, 83);
    color: white;
}

/* Palabra desconocida: oculta por caracteres "_" */
#palabra-desconocida {
    margin: auto;
    width: 350px;
    height: 20px;
    text-align: center;
}

.letra-desconocida {
    width: 100%;
    height: 100%;
    font-weight: bold;
}

#aviso-salud-ahorcado {
    margin: auto;
    width: 350px;
    height: 20px;
    text-align: center;
}

.vives-o-mueres {
    width: 100%;
    height: 100%;
}

/* Imagen de ahorcado */
#dibujo-ahorcado {
    display: block;
    margin: auto;
    width: 12em;
}

/* re-dimensionar las imagenes */
#dibujo-ahorcado img {
    width: 180px;
    height: auto;
}

picture img {
    filter: invert(var(--value, 80%))
}

/* input de jugador */
/* etiqueta div */
#entrada-jugador {
    margin: auto;
    height: 50px;
    width: 270px;
}

/* caja de texto, input y boton para "entrada-jugador" */
#btn-entrada-jugador {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

/* caja que encierra a "label" id="text-inpu-abc" */
#caja-ingresar {
    width: 50%;
}

#text-input-abc {
    width: 80px;
}

/*  */
#caja-input-button {
    display: flex;
    justify-content: space-evenly;
    width: 64%;

}

/* etiqueta input */
#letra {
    margin: 0px;
    padding: 0;
    height: 30px;
    text-align: center;
}

/* Botones */
#iniciar-juego {
    margin: auto;
    padding: 0.4em;
    width: 10em;
    display: block;
}

#ingresar {
    display: block;
    margin: 0;
    padding: 0px;
    height: 30px;
    width: 52px;
}

/* caja envuele a boton "pedir-pista */
#div-pedir-pista {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

/* mensaje pista */
#pista {
    width: 50%;
    height: 100%;
}