body {
    /* padding: auto; */
    margin: auto;
    width: 50%;
}

h1, div[id="palabra-desconocida"] p {
    text-align: center;
}

/* Palabra desconocida: oculta por caracteres "_" */
#palabra-desconocida {
    margin: auto;
    width: 50%;
    /* padding: auto; */
}

#letra-desconocida {
    font-weight: bold;
}

/* Imagen de ahorcado */
#dibujo-ahorcado {
    display: block;
    margin: auto;
    width: 12em;
}

/* Botones */
#iniciar-juego {
    margin: auto;
    padding: 0.4em;
    width: 10em;
    display: block;
}

#ingresar {
    width: 7em;
}